<%- include('../partials/Head') %>
<body class="bg-gray-100 text-gray-900">
  <%- include('../partials/Nav') %>

  <main class="min-h-screen p-6">

    <!-- Header -->
    <div class="max-w-4xl mx-auto mb-6">
      <h1 class="text-center text-4xl font-semibold text-red-500">
        My Bookings
      </h1>
    </div>

    <!-- Cards Grid -->
    <div class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <% homeData.map((data) => { %>
        <div class="bg-white rounded shadow p-4 text-sm space-y-1">
          <div class="w-full h-[150px]">
         <img
  <img class="w-full h-full"src="<%= data.homeUrl || '/Image/homeImage.jpeg' %>" alt="Home">
  </div>
          <p class="font-medium"><%= data.houseName %></p>
          <p class="text-gray-600">₹ <%= data.homePrice %></p>
          <p class="text-gray-600"><%= data.homeLocation %></p>
          <div class="flex justify-between items-center">
          <p class="text-yellow-600">⭐ <%= data.homeRatings %></p>
          
          <div class="flex justify-between items-center gap-2">
           <button class="bg-violet-300 rounded-lg p-2"><a href="/home-details">View Details</a></button>
          <button class="bg-green-300 rounded-lg p-2">Book</button>
          </div >
          </div>
        </div>
      <% }) %>
    </div>

  </main>
</body>
</html>